*{
  margin: 0%;
  padding: 0%;
}
:root{

  --bg-light: #deab90;
  --bg-dark: #8a5a44;
}
.main-container nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg-dark);
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: background-color 0.3s ease;
}
.main-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container-dark{
  background-color: var(--bg-dark);
}
.main-container-light{
  background-color: var(--bg-light);
  
}
.post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}